/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  margin: 0;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 0;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
/*Here is how
--------------------------------------------------------- */
.section .how {
                padding-top:70px;
                padding-bottom: 100px;
                overflow: auto;
        }
        .section .how .title {
                color:#262626;
                text-align: center;
                padding-bottom: 50px;
                font-size: 28pt;
                font-weight: 600;
        }
        .section {
                width: 950px;
                display:block;
                margin-left: auto;
                margin-right: auto;
                overflow: auto;
        }
        .section .item {
                float:left;
                width:25%;
        }
        .section .grid {
                width: 100%;
                float:left;
                text-align: center;

        }
        .section .grid .img {
                height: 186px;
                line-height: 186px;
                padding-bottom: 40px;
        }
        .section .grid .img img{
                vertical-align: middle;
        }
        .section .grid .step {
                padding-bottom: 5px;
                font-size: 22pt;
                font-weight:500;
        }
        .section .grid .desc {
                font-size: 10pt;
                font-weight: 300;
        }
        .section .item .img a{
          background-color: #400090;
        }
        .footer {
                width: 100%;
                float: left;
                background-color:#400090;
                color: #ffffff;
                height: 200px;
        }
        .footer .about {
                width: 950px;
                display:block;
                margin-left: auto;
                margin-right: auto;
                overflow: auto;
                font-size:8pt;
                font-weight: 100;
                margin-top:50px;
        }
        .footer .about .info .links {
            padding-bottom:10px;
            font-size: 8pt;
        }        
        .footer .about .info .links a {
            margin-right:50px;
            outline:none;
            text-decoration:none;
        }
        .footer .about .info .links a:hover {
            text-decoration:underline;
        }

        .footer .about .info {
                width:75%;
                float:left;
                text-align: justify;
                line-height:18px;
        }
        .footer .about .info a {
                color:#ffffff;
        }
        .footer .about .ylogo {
                float: right;
        }